* {
  box-sizing: border-box; }

body {
  padding: 200px; }

/*** Item list styles ***/
ul.item-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.item-list li span {
    position: relative; }
    ul.item-list li span:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 100%;
      height: 4px;
      margin-top: -2px;
      background: #000; }
  ul.item-list li.finished span:before {
    right: 0; }
