/* Try to add a reset? No? */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900,700italic,400italic,300italic,100italic,100);
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff; }

html {
  height: 100%; }

body {
  padding: 40px;
  padding-bottom: 400px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px; }

h2 {
  font-weight: 500;
  margin: 0; }

/* Medium screen */
@media (min-width: 700px) {
  body {
    font-size: 48px;
    padding: 60px;
    border-left: 20px solid #f2f2f2;
    border-right: 20px solid #f2f2f2; }
    body:before, body:after {
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      height: 20px;
      background: #f2f2f2; }
    body:before {
      top: 0; }
    body:after {
      bottom: 0; }

  h2 {
    font-size: 1.2em; } }
/*** Add input ****/
.add-input {
  border: 0;
  outline: 0;
  background: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border-bottom: 4px dashed #000;
  padding: 10px 0;
  width: 600px;
  max-width: 100%;
  margin-bottom: 40px; }

/*** Item list styles ***/
ul.item-list {
  margin: 0 0 80px 0;
  padding: 0;
  list-style: none; }
  ul.item-list li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    cursor: pointer; }
    ul.item-list li span {
      position: relative;
      transition: all 0.4s; }
      ul.item-list li span:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -20px;
        height: 4px;
        width: 0;
        background: #000;
        transform: rotate(-1deg);
        transition: all 0.4s; }
    ul.item-list li.finished span {
      opacity: 0.3; }
      ul.item-list li.finished span:before {
        width: calc(100% + 40px); }
